.background{
    background-color: aliceblue;
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: absolute;
}
    
.div1 {
    grid-area: 1 / 1 / 4 / 4;
    background-image: url(images/title.gif);
    rotate: 5deg;
}

.div2 {
    grid-area: 4 / 1 / 6 / 3;
    background-image: url(images/tatbilb.jpg);
    rotate: 10deg;
}

.div3 { 
    grid-area: 4 / 3 / 6 / 5; 
    background-image: url(images/prideibi.jpeg) ;
    rotate: -10deg;
    left: 50px;
    position: relative;
}

.div4 { 
    grid-area: 3 / 4 / 4 / 5; 
    background-image: url(images/ravenboys.jpg) ;
    rotate: 20deg;
}

.div5 { 
    grid-area: 2 / 5 / 3 / 6; 
    background-image: url(images/eliza-and-her-monsters.jpg) ;
    rotate: -10deg;
}

.div6 { 
    grid-area: 1 / 4 / 2 / 5; 
    background-image: url(images/cobab.webp); 
    rotate: 15deg;
}

.div7 {
    grid-area: 1 / 5 / 2 / 6; 
}

.div8 { 
    grid-area: 2 / 4 / 3 / 5; 
}

.div9 { 
    grid-area: 3 / 5 / 4 / 6; 
}

.div10 { 
    grid-area: 4 / 5 / 5 / 6; 
}

.div11 { 
    grid-area: 5 / 2 / 6 / 4; 
}




.grid-item {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.grid-item-big {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.grid-head {
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

p {
    font-size: 30px;
    color: black;
    font-family: 'League Script', cursive;
    text-align: center;

}

h1 {
    font-size: 70px;
    color: black;
    font-family: 'League Script', cursive;
    text-align: center;
    width: 400px;

}

h4 {
    font-size: 50px;
    color: black;
    font-family: 'League Script', cursive;
    text-align: center;
    width: 300px;

}

h3 {
    font-size: 35px;
    color: black;
    font-family: 'League Script', cursive;
    text-align: center;
    position: relative;
    z-index: 30;
    rotate: -50deg;

}